<h1>Get token test</h1>
<h4>A simple test that checks if your server is properly configured to receive a XirSys security token</h4>

<form class="form-horizontal">
  <div class="control-group">
    <label for="room" class="control-label">Room</label>
    <div class="controls">
      <input type="text" id="room" name="room" value="default" />
    </div>
  </div>
  <div class="control-group">
    <label for="username" class="control-label">Username</label>
    <div class="controls">
      <input type="text" id="username" name="username" value="alex" />
    </div>
  </div>
  <br>
  <input type="submit" value="Join" class="btn btn-primary btn-large" />
</form>