<h1>Join room test</h1>
<h4>A simple test that checks if your server is properly configured to allow users to join XirSys rooms</h4>

<p>Link this test to yourself or a friend:<br>
  <%= link_to request.host + demo_path('join_room_test'), demo_path('join_room_test') %>
<p>

<div id="form-join">
  <form class="form-horizontal">
    <div class="control-group">
      <label for="room" class="control-label">Room</label>
      <div class="controls">
        <input type="text" id="room" name="room" value="default"/>
      </div>
    </div>
    <div class="control-group">
      <label for="username" class="control-label">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username"/>
      </div>
    </div>
    <br>
  </form>
  <button id="button-join" class="btn btn-primary btn-large">Join</button>
</div>

<div id="form-connect">
  <form class="form-horizontal">
    <div class="control-group">
      <label for="userlist" class="control-label">Other users in this room</label>
      <div class="controls">
        <ul id="userlist">
        </ul>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">

  $(document).ready(function() {
      
    // Initially hide connect form
    $('#form-connect').hide()

    // Randomize username in form
    $("#username").val(randomizeUsername());
    
    // Initialize utilsTest object
	  utilsTest.init();
      
    $("#button-join").click(function(e) {
		  e.preventDefault();
      
		  // Success and fail handlers for user's local video / audio stream allocation
			var getMediaSuccess = function (stream) {
				utilsTest.addVideo({ stream: stream, isLocalStream: true, userId: $('#username').val() });
				utilsTest.localMediaStream( stream );
			};
			var getMediaFailed = function (err) {
				console.log('Get media stream error. ', err);
			};

			// Requests the local video and audio stream
      // Comment this out if you don't want a microphone / webcam request
      // utilsTest.getUserMedia(
      //	 { video: true, audio: true },
      //	 getMediaSuccess,
      //	 getMediaFailed
      // );

			// Room information object / container
			var roomInfo = {
        name: $('#room').val()
			};


			// Create the XirSys objects needed to initialize a room
			utilsTest.room( new xRtc.Room(roomInfo) );
      
			// Assign events for updating the room's users list
			utilsTest.room().on( xRtc.Room.events.usersUpdated, utilsTest.refreshRoom )
		    .on( xRtc.Room.events.userConnected, utilsTest.refreshRoom )
				.on( xRtc.Room.events.userDisconnected, utilsTest.refreshRoom )
				.on( xRtc.Room.events.connectionDeclined, utilsTest.refreshRoom )
			  // More events for accepting a call and handling connection creation
				.on( xRtc.Room.events.incomingConnection, utilsTest.acceptCall )
				.on( xRtc.Room.events.connectionCreated, utilsTest.connectionCreated )
        .on( xRtc.Room.events.enter, utilsTest.enterRoom );

		  // Map all other default events
			utilsTest.subscribe( utilsTest.room(), xRtc.Room.events );

			// Enter / open room
			utilsTest.room().enter($("#username").val(), { autoReply: false });
      utilsTest.username($("#username").val());
        
      // Hide join form and button
      $('#form-join').hide()
      $('#form-connect').show()
    });

  });

  // Randomizes username for form
  function randomizeUsername() {
    var username = "";
    var possible = "abcdefghijklmnopqrstuvwxyz";

    for( var i=0; i < 5; i++ )
        username += possible.charAt(Math.floor(Math.random() * possible.length));

    return username;
  }

</script>