<h1>One-to-one video</h1>
<h4>A simple one-to-one video demo</h4>

<p>Link this demo to yourself or a friend:<br>
  <%= link_to request.host + demo_path('one_to_one_video'), demo_path('one_to_one_video') %>
<p>

<% if @show_form %>
  <form class="form-horizontal">
    <div class="control-group">
      <label for="room" class="control-label">Room</label>
      <div class="controls">
        <input type="text" id="room" name="room" value="default"/>
      </div>
    </div>
    <div class="control-group">
      <label for="username" class="control-label">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" value="<%= @username %>"/>
      </div>
    </div>
    <br>
    <input type="submit" value="Join" class="btn btn-primary btn-large"/>
  </form>
<% else %>

  <form class="form-horizontal">
    <div class="control-group">
      <label for="userlist" class="control-label">Connect to a user</label>
      <div class="controls">
        <select id="userlist"></select>
      </div>
    </div>
    <br>
    <button id="connect" class="btn btn-primary btn-large">Connect</button>
  </form>

  <br>

  <div>
		<video id="vid1"></video>
		<video id="vid2"></video>
	</div>

  <script type="text/javascript">

		$(document).ready(function() {

      // initialise utilsOneToOneVideo object
			utilsOneToOneVideo.init();
      
				// success and fail handlers for users local video/audio stream allocation
				var getMediaSuccess = function (stream) {
					utilsOneToOneVideo.addVideo({ stream: stream, isLocalStream: true, userId: gon.username });
					utilsOneToOneVideo.localMediaStream( stream );
				};
				var getMediaFailed = function (err) {
					console.log('Get media stream error. ', err);
				};

				// request the local video and audio stream
				utilsOneToOneVideo.getUserMedia(
					{ video: true, audio: true },
					getMediaSuccess,
					getMediaFailed
				);

				// room information object / container
				var roomInfo = {
          name: gon.room
				};


				// create XirSys objects needed to initialise a room
				utilsOneToOneVideo.room( new xRtc.Room(roomInfo) );
      
				// assign events for updating the rooms user list
				utilsOneToOneVideo.room().on( xRtc.Room.events.usersUpdated, utilsOneToOneVideo.refreshRoom )
							.on( xRtc.Room.events.userConnected, utilsOneToOneVideo.refreshRoom )
							.on( xRtc.Room.events.userDisconnected, utilsOneToOneVideo.refreshRoom )
							.on( xRtc.Room.events.connectionDeclined, utilsOneToOneVideo.refreshRoom )
							// more events for accepting a call and handling connection creation
							.on( xRtc.Room.events.incomingConnection, utilsOneToOneVideo.acceptCall )
							.on( xRtc.Room.events.connectionCreated, utilsOneToOneVideo.connectionCreated );

				// map all other default events
				utilsOneToOneVideo.subscribe( utilsOneToOneVideo.room(), xRtc.Room.events );

        

				// Enter / open room
				utilsOneToOneVideo.room().enter(gon.username, { autoReply: false });

			/**********************************
			 *
			 *   Handles connect button click
			 *
			 **********************************/
			$("#connect").click(function (e) {
				e.preventDefault();
				// get username of remote peer
				var contact = $("#userlist").val();
				console.log('Connecting to participant...', contact);
				// connect to remote peer
        utilsOneToOneVideo.room().connect(contact, { createDataChannel: 'auto' });
			});

		});

	</script>

<% end %>