<li><a href="http://xirsys.com"><i class="fa fa-asterisk fa-lg button-social"></i></a></li>
<li><a href="https://twitter.com/xirsys"><i class="fa fa-twitter fa-lg button-social"></i></a></li>
<li><a href="https://github.com/xirsys"><i class="fa fa-github fa-lg button-social"></i></a></li>